:root {
  --blue: #273fad;
  --gold: #b3a125;
  --yellow: #ffde00;
  --red: #ad273f;
  --bg-general: #ebebea;
  --shapes: #ffffff;
  --bg-card: #3d3d4d;
  --text: #1c1c29;
  --text-light: #a09cb1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px 'Poppins', Arial, sans-serif;
  height: 100vh;

  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
